@layer base {
    @font-face {
        font-family: 'Erotica';
        src: url("../../public/assets/fonts/ErotiqueAlternateTrial-Bold.ttf") format("opentype")
    }
    @font-face {
        font-family: 'Acumine-extralight';
        src: url("../../public/assets/fonts/Acumin-Pro-ExtraLight.ttf") format("opentype")
    }

    p {
        font-family: 'Acumine-extralight';
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

